body {
  margin:0px;
  background-color:rgba(70, 76, 91, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:377px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  overflow:hidden;
}
#u3964_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:669px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:151px;
  top:617px;
  width:12px;
  height:12px;
}
#u3965_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965.selected {
}
#u3966 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:173px;
  top:617px;
  width:12px;
  height:12px;
}
#u3967_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967.selected {
}
#u3968 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:196px;
  top:617px;
  width:12px;
  height:12px;
}
#u3969_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(25, 164, 225, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969.selected {
}
#u3970 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:218px;
  top:617px;
  width:12px;
  height:12px;
}
#u3971_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 98, 98, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971.selected {
}
#u3972 {
  position:absolute;
  left:2px;
  top:-2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973 {
  position:absolute;
  left:0px;
  top:85px;
  touch-action:none;
}
#u3973_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1317px;
  height:500px;
  background-image:none;
}
#u3973_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3974 {
  position:absolute;
  left:997px;
  top:0px;
  width:320px;
  height:500px;
  overflow:hidden;
}
#u3974_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3974_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
  background:inherit;
  background-color:rgba(255, 98, 98, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3975 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:241px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3977 {
  position:absolute;
  left:74px;
  top:377px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3978 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:189px;
}
#u3979 {
  position:absolute;
  left:0px;
  top:138px;
  width:300px;
  height:189px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#FFFFFF;
}
#u3980 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3981 {
  position:absolute;
  left:0px;
  top:41px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3982 {
  position:absolute;
  left:0px;
  top:-1px;
  width:300px;
  word-wrap:break-word;
}
#u3983 {
  position:absolute;
  left:677px;
  top:0px;
  width:320px;
  height:500px;
  overflow:hidden;
}
#u3983_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3983_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
  background:inherit;
  background-color:rgba(25, 164, 225, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3984 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:241px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3986 {
  position:absolute;
  left:74px;
  top:377px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3987 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:189px;
}
#u3988 {
  position:absolute;
  left:0px;
  top:138px;
  width:300px;
  height:189px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#FFFFFF;
}
#u3989 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u3990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3990 {
  position:absolute;
  left:0px;
  top:41px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:-1px;
  width:300px;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:357px;
  top:0px;
  width:320px;
  height:500px;
  overflow:hidden;
}
#u3992_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3992_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
  background:inherit;
  background-color:rgba(245, 143, 99, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3993 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:241px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3995 {
  position:absolute;
  left:74px;
  top:377px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3996 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:189px;
}
#u3997 {
  position:absolute;
  left:0px;
  top:138px;
  width:300px;
  height:189px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#FFFFFF;
}
#u3998 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u3999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u3999 {
  position:absolute;
  left:0px;
  top:41px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u4000 {
  position:absolute;
  left:0px;
  top:-1px;
  width:300px;
  word-wrap:break-word;
}
#u4001 {
  position:absolute;
  left:37px;
  top:0px;
  width:320px;
  height:500px;
  overflow:hidden;
}
#u4001_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:500px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u4001_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
  background:inherit;
  background-color:rgba(99, 209, 196, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4002 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:498px;
}
#u4003 {
  position:absolute;
  left:2px;
  top:241px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4004 {
  position:absolute;
  left:74px;
  top:377px;
  width:152px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4005 {
  position:absolute;
  left:2px;
  top:10px;
  width:148px;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:189px;
}
#u4006 {
  position:absolute;
  left:0px;
  top:138px;
  width:300px;
  height:189px;
  font-family:'FontAwesome Bold', 'FontAwesome Regular', 'FontAwesome';
  font-weight:700;
  font-style:normal;
  font-size:150px;
  color:#FFFFFF;
}
#u4007 {
  position:absolute;
  left:2px;
  top:4px;
  width:296px;
  word-wrap:break-word;
}
#u4008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u4008 {
  position:absolute;
  left:0px;
  top:41px;
  width:300px;
  height:70px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  color:#FFFFFF;
  line-height:36px;
}
#u4009 {
  position:absolute;
  left:0px;
  top:-1px;
  width:300px;
  word-wrap:break-word;
}
#u3964_ann {
  position:absolute;
  left:370px;
  top:-4px;
  width:1px;
  height:1px;
}
#u4010 {
  position:fixed;
  left:50%;
  margin-left:-187.5px;
  top:0px;
}
#u4010_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background-image:none;
}
#u4010_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u4012 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u4013 {
  position:absolute;
  left:0px;
  top:8px;
  width:375px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u4014 {
  position:absolute;
  left:20px;
  top:13px;
  width:20px;
  height:20px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
